[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NUETON"]
	path = NUETON
	url = https://github.com/cran/NUETON
[submodule "PlateVision"]
	path = PlateVision
	url = https://github.com/cran/PlateVision
